<footer class=" foot col-md-12 vert-offset-top-1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
  <div class="container foot">
    <div class="col-md-12">
      <div class="col-md-offset-5 col-md-12 vert-offset-top-0">
        <span class="txt">
          <p class="lead" style="font-size: 18px"> Contact Us </p>
        </span>
      </div>
      <div class="col-md-offset-3">
        <ul class="navbar navbar-expand-xl">
          <li class="nav-item px-3" style="display: inline; font-size: 17px"> <a style="color: #020a11" href="#"> <b
                class="fa fa-facebook"> Facebook </b> </a> </li>
          <li class="nav-item px-3" style="display: inline; font-size: 17px"> <a style="color: #273746" href="#"> <b
                class="fa fa-twitter"> Twitter</b> </a> </li>
          <li class="nav-item px-3" style="display: inline; font-size: 17px"> <a style="color: #273746" href="#"> <b
                class="fa fa-instagram"> Instagram</b> </a> </li>
          <li class="nav-item px-3" style="display: inline; font-size: 17px"> <a style="color: #273746" href="#"> <b
                class="fa fa-linkedin"> LinkedIn </b> </a> </li>
          <li class="nav-item px-3" style="display: inline; font-size: 17px"> <a style="color: #273746" href="#"> <b
                class="fa fa-reddit"> Reddit </b> </a> </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-offset-10 col-md-12 vert-offset-top-1">
        <span class="txt">
          <p class="lead" style="font-size: 17px"> © Newspaper X 2021 </p>
        </span>
      </div>
    </div>

  </div>
</footer>