<html>
  <head>
    <title> Newspaper X </title>
	<link rel="shortcut icon" type = "image/x-icon" href = "{{url_for('static', filename='favicon.png')}}">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/style2.css')}}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
  </head>
  <body>
	<nav class = "nav navbar-default  foot">
	<div class = "col-md-12"> <img class = "img-responsive" src = "static/image/logo.png" alt = "newspaper-x"> </div>
	<div class = "container-fluid">
	  <div class = "nav-header">
	    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#NavBar" >
		  <span class = "icon-bar"> </span>
		  <span class = "icon-bar"> </span>
		  <span class = "icon-bar"> </span> 
		</button>
		<a class = "navbar-brand" href = "#" style = "color: #040c13"> NEWSPAPER X </a>
      </div>
      <div class = "collapse navbar-collapse" id = "NavBar">
        <ul class = "navbar navbar-expand-xl">
		  <li class="nav-item" style="list-style-type: none;"> <a class="nav-link" href = "home" style = "color: #273746"> Home </a> </li>
		  <li class="nav-item" style="list-style-type: none;"> <a class="nav-link" href = "registration" style = "color: #273746"> Register </a> </li>
		  <li class="nav-item" style="list-style-type: none;"> <a class="nav-link" href = "login" style = "color: #273746"> Login </a> </li>
		  <li class="nav-item" style="list-style-type: none;"> <a class="nav-link" href = "contact" style = "color: #273746"> Contact </a> </li>
		</ul>
	  </div>
	  </div>
	  </nav>
  </body>
</html>